body {
	padding: 20px;
}
.container {
	max-width: 960px;
	width: auto;
	height: auto;
}

#q {
	color: #60d6f1;
}

#dev {
	color: #ff9800;
}

#comment {
	font-style: italic;
	font-size: 40px;
	color: #75715d;
}

.btn {
	color: #ff9800;
	background-color: #60d6f1;
}
@media screen and (max-width: 480px) {
	#comment {
		font-style: italic;
		font-size: 20px;
		color: #75715d;
	}

	.mainContent {
		font-size: 15px;
	}
}